@import url("https://fonts.cdnfonts.com/css/frutiger-lt-arabic");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Frutiger LT Arabic', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.btn-main {
  color: #fff;
  padding: 8px 35px;
  border: 1px solid #fff;
}

.nav-main {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.nav-main .navbar-nav {
  margin-top: 12px;
}

.nav-main .navbar-nav .nav-item {
  margin: 0 10px;
}

.nav-main .navbar-nav .nav-item.active a {
  position: relative;
}

.nav-main .navbar-nav .nav-item.active a::after {
  position: absolute;
  content: '';
  /* top: 0; */
  left: 25px;
  background: #fff;
  width: 55px;
  height: 2px;
  bottom: 0;
}

.nav-main .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 15px 25px;
  font-size: 1.2rem;
}

.nav-main_container {
  justify-content: space-around;
}

.hero {
  background: url("../images/hero.png") no-repeat center center/cover;
  min-height: calc(100vh);
  position: relative;
  color: #fff;
}

.hero-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(13, 20, 60, 0.8);
}

.hero-content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content__container a {
  color: #fff;
}

.hero-content__container a:hover {
  border-color: #8a9197;
  color: #8a9197;
}

.hero-content__container img {
  width: 150px;
  height: auto;
  margin-bottom: 50px;
}

.horses {
  margin: 3rem auto;
}

.horses .horse-items .horse-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.horses .horse-items .horse-item .card .horse-img-container {
  position: relative;
}

.horses .horse-items .horse-item .card .horse-img-container .horse-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 20, 60, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s all ease;
}

.horses .horse-items .horse-item .card .horse-img-container .horse-overlay:hover {
  opacity: 1;
}

.horses .horse-items .horse-item .card .horse-img-container .horse-overlay i {
  color: #fff;
  font-size: 20px;
}

.horses .horse-items .horse-item .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horses .horse-items .horse-item .card .card-body .card-text span {
  margin: 0 10px;
}

.horses .horse-items .horse-item .card .card-body .card-text .pedigreex {
  color: #8a9197;
}

.horses .horse-items .horse-item .card .card-body .card-text .sub {
  color: #c1c8ce;
}

.news .news-title h3 {
  font-size: 2rem;
  position: relative;
  padding-right: 15px;
}

.news .news-title h3::after {
  position: absolute;
  content: '';
  bottom: 12px;
  left: 0;
  width: 89%;
  height: 2px;
  background: rgba(138, 145, 151, 0.5);
  padding: 0 -2px;
  margin: 0px 0%;
}

.news .news-item {
  margin: 1.5rem 0;
}

.news .news-item .card .news-img-container {
  position: relative;
  overflow: hidden;
}

.news .news-item .card .news-img-container .news-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 20, 60, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s all ease;
  z-index: 3;
}

.news .news-item .card .news-img-container .news-overlay i {
  color: #fff;
  font-size: 20px;
}

.news .news-item .card .news-text {
  color: #8a9197;
}

.news .news-item .card .news-img-container img {
  transform: scale(1.3);
  transition: all 0.4s ease;
}

.news .news-item .card:hover .news-img-container img {
  transform: scale(1);
}

.news .news-item .card:hover .card-body .news-text {
  color: #0d143c;
}

.news .news-item .card:hover .news-img-container .news-overlay {
  opacity: 1;
}

.subscribe {
  background: rgba(193, 200, 206, 0.1);
}

.subscribe .subscribe-items {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe .subscribe-items .follow-us {
  max-width: 250px;
  color: #0d143c;
}

.subscribe .subscribe-items .subscribe-item {
  text-align: right;
}

.subscribe .subscribe-items .subscribe-item .form-subscribe {
  direction: ltr;
  max-width: 90%;
}

.subscribe .subscribe-items .subscribe-item .form-subscribe .subscribe-btn-container {
  width: 30%;
}

.subscribe .subscribe-items .subscribe-item .form-subscribe .subscribe-btn-container .subscribe-btn {
  width: 100%;
  color: #fff;
  background: #0d143c;
}

.subscribe .subscribe-items .subscribe-item .form-subscribe .txt-subscribe {
  padding: 25px 35px;
  text-align: right;
}

.site-footer {
  background-color: #0d143c;
  width: 100%;
  height: 350px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.site-footer .footer-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.site-footer .footer-items .footer-item-img .footer-img-container img {
  max-width: 170px;
}

.site-footer .footer-items .footer-item h3 {
  margin: 1.7rem 0;
}

.site-footer .footer-items .footer-item .footer-links ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 3rem;
}

.site-footer .footer-items .footer-item .footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-items .footer-item .footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer .footer-items .footer-item .footer-socials ul {
  list-style: none;
  display: flex;
}

.site-footer .footer-items .footer-item .footer-socials ul li {
  margin: 0 0.5rem;
}

.site-footer .footer-items .footer-item .footer-socials ul li a {
  color: #fff;
}

.site-footer .last-row {
  background-color: rgba(255, 255, 255, 0.7);
  color: #0d143c;
}

.site-footer .last-row .madeby-items {
  display: flex;
  justify-content: flex-end;
}

.site-footer .last-row .madeby-items .madeby-item span {
  font-weight: 600;
}

.site-footer .last-row .madeby-items .madeby-item img {
  width: 30px;
  height: 30px;
}

.single-hero {
  background: #333 url("../images/single-hero.png") no-repeat center center/cover;
  color: #fff;
  min-height: 700px;
  position: relative;
}

.single-hero .single-hero-content {
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(13, 20, 60, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right !important;
  height: 100%;
  line-height: 1.4;
}

.single-hero .single-hero-content .single-hero-container {
  max-width: 1100px;
  margin: 0 4rem;
  padding-top: 3rem;
}

.single-hero .single-nav ul {
  list-style: none;
  display: flex;
}

.single-hero .single-nav ul li {
  margin: 0 0.5rem;
}

.single-hero .single-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.single-hero .single-content hr {
  border: 1px solid #8a9197;
}

.single-hero .single-content .single-info table {
  color: #fff;
}

.single-hero .single-content .single-info table .cell {
  width: 20%;
}

.single-nav {
  margin-bottom: 2rem;
}

.single-nav .head-img img {
  max-width: 80px;
  margin-top: 1rem;
}

.about-horse .about-items {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-horse .about-items .about-item {
  line-height: 2;
  text-align: justify;
}

.about-horse .about-items .about-item h2 {
  color: #0d143c;
}

.about-horse .about-items .about-item p {
  color: #8a9197;
}

.planning-gallery {
  position: relative;
  height: 600px;
  max-width: 1100px;
  margin: 50px auto;
}

.planning-gallery .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.pedigree {
  background: url("../images/pedigree.png") no-repeat center center/cover;
  min-height: 80vh;
  position: relative;
  color: #fff;
}

.pedigree-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(13, 20, 60, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedigree-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.pedigree-container .pedigree-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedigree-container .pedigree-items .pedigree-item.one {
  flex: 1;
}

.pedigree-container .pedigree-items .pedigree-item.two {
  flex: 3;
}

.tree-container {
  user-select: none;
  overflow: hidden;
}

.tree-container #wrapper {
  position: relative;
}

.tree-container .branch {
  position: relative;
  margin-right: 250px;
}

@media (max-width: 768px) {
  .tree-container .branch {
    margin: 125px;
  }
}

@media (max-width: 576px) {
  .tree-container .branch {
    margin: 90px;
  }
}

.tree-container .branch:before {
  content: '';
  width: 50px;
  border-top: 2px solid #fff;
  position: absolute;
  right: -100px;
  top: 50%;
  margin-top: 1px;
}

.tree-container .entry {
  position: relative;
  min-height: 90px;
}

.tree-container .entry:before {
  content: '';
  height: 100%;
  border-right: 2px solid #fff;
  position: absolute;
  right: -50px;
}

.tree-container .entry:after {
  content: '';
  width: 50px;
  border-top: 2px solid #fff;
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: 1px;
}

.tree-container .entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 0 10px 0 0;
}

.tree-container .entry:first-child:after {
  height: 10px;
  border-radius: 0 10px 0 0;
}

.tree-container .entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 10px 0;
}

.tree-container .entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #fff;
  border-radius: 0 0 10px 0;
  margin-top: -9px;
}

.tree-container .entry.sole:before {
  display: none;
}

.tree-container .entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}

.tree-container .label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  background-color: #fff;
  color: #0d143c;
  z-index: 100;
}

.tree-container .label .ex {
  border: 5px solid #0d143c;
  padding: 5px 56px;
}

.tree-container .dam {
  background-color: #fff;
}

.videos {
  height: 700px;
}

.videos .videos-content {
  display: flex;
  width: 1100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.videos .videos-content .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
}

.videos .videos-content .overlay img {
  width: 70px;
  cursor: pointer;
  height: 70px;
}

.videos video {
  width: 100%;
  border-radius: 2px;
}

@media screen and (max-width: 414px) {
  .nav-main .navbar-nav .nav-item.active a::after {
    width: 87%;
  }
  .site-footer {
    height: 100%;
  }
  .navbar-toggler-icon {
    border: 1px solid #fff;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  #nav-main {
    background: rgba(13, 20, 60, 0.9) !important;
  }
  .subscribe .subscribe-items .subscribe-item .form-subscribe {
    max-width: 100%;
  }
  .site-footer .footer-items {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer-item-img {
    order: 1;
  }
  .footer-item-img .footer-img-container img {
    margin-top: -1px;
  }
  .news .news-title h3::after {
    width: 70%;
  }
  .site-footer .last-row .madeby-items {
    justify-content: center;
  }
  .single-nav .head-img img {
    display: none;
  }
  .pedigree-container .pedigree-items .pedigree-item.one h3 {
    font-size: 20px;
    padding: 5px;
  }
  .videos {
    height: 100%;
    padding: 3px;
  }
}
