$primary_color: #0d143c;
$secondary_color: #fff;
$main_color: #c1c8ce;
$alt_color: #8a9197;

@import url('http://fonts.cdnfonts.com/css/frutiger-lt-arabic');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Frutiger LT Arabic', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

// * utils

.btn-main {
  color: $secondary_color;
  padding: 8px 35px;
  border: 1px solid $secondary_color;
}

.nav-main {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  .navbar-nav {
    margin-top: 12px;
    .nav-item {
      margin: 0 10px;
      &.active {
        // border-bottom: 2px solid $secondary_color;
        a {
          position: relative;
          &::after {
            position: absolute;
            content: '';
            /* top: 0; */
            left: 25px;
            background: #fff;
            width: 55px;
            height: 2px;
            bottom: 0;
          }
        }
      }
      .nav-link {
        color: $secondary_color;
        padding: 15px 25px;
        font-size: 1.2rem;
      }
    }
  }

  &_container {
    justify-content: space-around;
  }
}

// * hero
.hero {
  background: url('../images/hero.png') no-repeat center center / cover;
  min-height: calc(100vh);
  position: relative;
  color: $secondary_color;
  &-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($primary_color, 0.8);
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: $secondary_color;
        &:hover {
          border-color: $alt_color;
          color: $alt_color;
        }
      }
      img {
        width: 150px;
        height: auto;
        margin-bottom: 50px;
      }
    }
  }
}

// * horses
.horses {
  margin: 3rem auto;
  .horse-items {
    .horse-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
      .card {
        .horse-img-container {
          position: relative;
          .horse-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($primary_color, 0.8);
            color: $secondary_color;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transition: 0.5s all ease;
            &:hover {
              opacity: 1;
            }
            i {
              color: $secondary_color;
              font-size: 20px;
            }
          }
        }
        .card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .card-text {
            span {
              margin: 0 10px;
            }
            .pedigree {
              color: $alt_color;
            }
            .sub {
              color: $main_color;
            }
          }
        }
      }
    }
  }
}

//  * news

.news {
  .news-title {
    h3 {
      font-size: 2rem;
      position: relative;
      padding-right: 15px;
      &::after {
        position: absolute;
        content: '';
        bottom: 12px;
        left: 0;
        width: 89%;
        height: 2px;
        background: rgba($alt_color, 0.5);
        padding: 0 -2px;
        margin: 0px 0%;
      }
    }
  }
}

.news {
  .news-item {
    margin: 1.5rem 0;
    .card {
      .news-img-container {
        position: relative;
        .news-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($primary_color, 0.8);
          color: $secondary_color;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          opacity: 0;
          transition: 0.5s all ease;
          &:hover {
            // opacity: 1;
          }

          i {
            color: $secondary_color;
            font-size: 20px;
          }
        }
      }
      .news-text {
        color: $alt_color;
      }

      &:hover .card-body .news-text {
        color: $primary_color;
      }
      &:hover .news-img-container .news-overlay {
        opacity: 1;
      }
    }
  }
}

// * subscribe
.subscribe {
  background: rgba($main_color, 0.1);
  .subscribe-items {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    .follow-us {
      max-width: 250px;
      color: $primary_color;
    }
    .subscribe-item {
      text-align: right;
      .form-subscribe {
        direction: ltr;
        max-width: 90%;
        .subscribe-btn-container {
          width: 30%;
          .subscribe-btn {
            width: 100%;
            color: $secondary_color;
            background: $primary_color;
          }
        }
        .txt-subscribe {
          padding: 25px 35px;
          text-align: right;
        }
      }
    }
  }
}

.site-footer {
  background: $primary_color;
  height: 300px;
  .footer-links,
  .footer-social {
    margin-top: 3rem;
  }
  .footer-links {
    // margin: 2rem 0;
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      margin-top: 1.2rem;
      li {
        padding: 10px 0;
      }
    }
  }
  .footer-item {
    color: $secondary_color;

    .social-icons {
      margin-top: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        list-style: none;
        display: flex;
        li {
          margin: 0.4rem 0.8rem;
        }
      }
    }
  }
  img {
    max-width: 150px;
  }
  .footer-img-container {
    position: relative;

    img {
      position: absolute;
      width: 100%;
      top: -3px;
      left: 32%;
    }
  }
}

// * media query

@media screen and (max-width: 414px) {
  .nav-main .navbar-nav .nav-item.active a::after {
    width: 87%;
  }
}
